In [7]:
#import dependenceis
import pandas as pd

In [1]:
#import yearly data from csvs
attendance06 = pd.read_csv("./Data Files/2006.csv")
attendance07 = pd.read_csv("./Data Files/2007.csv")
attendance08 = pd.read_csv("./Data Files/2008.csv")
attendance09 = pd.read_csv("./Data Files/2009.csv")
attendance10 = pd.read_csv("./Data Files/2010.csv")
attendance11 = pd.read_csv("./Data Files/2011.csv")
attendance12 = pd.read_csv("./Data Files/2012.csv")
attendance13 = pd.read_csv("./Data Files/2013.csv")
attendance14 = pd.read_csv("./Data Files/2014.csv")
attendance15 = pd.read_csv("./Data Files/2015.csv")
attendance16 = pd.read_csv("./Data Files/2016.csv")

NameError: name 'pd' is not defined

In [9]:
#put data files into list and add a column to each row for the year

years = [attendance06,attendance07,attendance08,attendance09,attendance10,attendance11,attendance12,attendance13,attendance14,attendance15,attendance16]

date = 2006
counter = 0
for year in years:
    items = []
    for x in range(30):
        items.append(date)
    years[counter]["year"] = items
    counter = counter +1
    date = date +1

In [10]:
#combine each year of data into a single list

counter = 0
data = years[0]
for things in years:
    data = data.merge(years[counter], how = 'outer')
    counter = counter + 1

In [11]:
#merge in last year and then rename columns
data = data.merge(years[1], how = 'outer')

data = data.drop(columns = ['BatAge','PAge','BPF','PPF','#HOF','#A-S','#a-tA-S','Time','Managers','Chall','Succ','Succ%'])

data

      Tm  Attendance  Attend/G Est. Payroll  year
0    ARI     2091685     25823    $59984226  2006
1    ATL     2550524     31488    $90156876  2006
2    BAL     2153139     26582    $72585582  2006
3    BOS     2930588     36180   $120099824  2006
4    CHC     3123215     38558    $94424499  2006
5    CHW     2957414     36511   $102750667  2006
6    CIN     2134607     26353    $60909519  2006
7    CLE     1997995     24667    $56031500  2006
8    COL     2104362     25980    $41233000  2006
9    DET     2595937     32049    $82612866  2006
10   FLA     1164134     14372    $14671500  2006
11   HOU     3022763     37318   $100894435  2006
12   KCR     1372638     16946    $47694000  2006
13   LAA     3406790     42059   $103472000  2006
14   LAD     3758545     46402    $98447187  2006
15   MIL     2335643     28835    $57970333  2006
16   MIN     2285018     28210    $63396006  2006
17   NYM     3379535     41723   $101584963  2006
18   NYY     4248067     52445   $194663079  2006
19   OAK     1976625     24403    $64843079  2006
20   PHI     2701815     33356    $88273333  2006
21   PIT     1861549     22982    $46717750  2006
22   SDP     2659757     32837    $69896141  2006
23   SEA     2481165     30632    $87959833  2006
24   SFG     3130313     38646    $90056419  2006
25   STL     3407104     42589    $88891371  2006
26   TBR     1368950     16901    $34917967  2006
27   TEX     2388757     29491    $68228662  2006
28   TOR     2302212     28422    $71365000  2006
29   WSH     2153056     26581    $63143000  2006
..   ...         ...       ...          ...   ...
300  ARI     2036216     25138    $78399500  2016
301  ATL     2020914     24950    $74999750  2016
302  BAL     2172344     26819   $153744833  2016
303  BOS     2955434     36487   $218682750  2016
304  CHC     3232420     39906   $176097333  2016
305  CHW     1746293     21559   $113416000  2016
306  CIN     1894085     23384    $77329561  2016
307  CLE     1591667     19650    $94511067  2016
308  COL     2602524     32130    $89707000  2016
309  DET     2493859     31173   $199902000  2016
310  HOU     2306623     28477    $89498000  2016
311  KCR     2557712     31577   $125132675  2016
312  LAA     3016142     37236   $139712000  2016
313  LAD     3703312     45720   $231342096  2016
314  MIA     1712417     21405    $72472000  2016
315  MIL     2314614     28575    $52077500  2016
316  MIN     1963912     24246    $93333700  2016
317  NYM     2789602     34440   $155221282  2016
318  NYY     3063405     37820   $193229350  2016
319  OAK     1521506     18784    $54969067  2016
320  PHI     1915144     23644    $84846666  2016
321  PIT     2249201     27768    $81187933  2016
322  SDP     2351422     29030    $50656166  2016
323  SEA     2267928     27999   $137169100  2016
324  SFG     3365256     41546   $177021333  2016
325  STL     3444490     42525   $150353500  2016
326  TBR     1286163     15879    $48223791  2016
327  TEX     2710402     33462   $212117760  2016
328  TOR     3392099     41878   $182690767  2016
329  WSH     2481938     30641   $152967400  2016

[330 rows x 5 columns]

In [12]:
#save data to csv
data.to_csv('./Data Files/Clean Attendance Payroll and Year.csv')