In [11]:
import pandas as pd

In [12]:
attendance06 = pd.read_csv("./Data Files/2006.csv")
attendance07 = pd.read_csv("./Data Files/2007.csv")
attendance08 = pd.read_csv("./Data Files/2008.csv")
attendance09 = pd.read_csv("./Data Files/2009.csv")
attendance10 = pd.read_csv("./Data Files/2010.csv")
attendance11 = pd.read_csv("./Data Files/2011.csv")
attendance12 = pd.read_csv("./Data Files/2012.csv")
attendance13 = pd.read_csv("./Data Files/2013.csv")
attendance14 = pd.read_csv("./Data Files/2014.csv")
attendance15 = pd.read_csv("./Data Files/2015.csv")
attendance16 = pd.read_csv("./Data Files/2016.csv")

In [13]:
years = [attendance06,attendance07,attendance08,attendance09,attendance10,attendance11,attendance12,attendance13,attendance14,attendance15,attendance16]

date = 2006
counter = 0
for year in years:
    items = []
    for x in range(30):
        items.append(date)
    years[counter]["year"] = items
    counter = counter +1
    date = date +1

In [14]:
counter = 0
data = years[0]
for things in years:
    data = data.merge(years[counter], how = 'outer')
    counter = counter + 1

In [15]:
data = data.merge(years[1], how = 'outer')

data = data.drop(columns = ['BatAge','PAge','BPF','PPF','#HOF','#A-S','#a-tA-S','Time','Managers','Chall','Succ','Succ%','Attend/G'])

data

      Tm  Attendance Est. Payroll  year
0    ARI     2091685    $59984226  2006
1    ATL     2550524    $90156876  2006
2    BAL     2153139    $72585582  2006
3    BOS     2930588   $120099824  2006
4    CHC     3123215    $94424499  2006
5    CHW     2957414   $102750667  2006
6    CIN     2134607    $60909519  2006
7    CLE     1997995    $56031500  2006
8    COL     2104362    $41233000  2006
9    DET     2595937    $82612866  2006
10   FLA     1164134    $14671500  2006
11   HOU     3022763   $100894435  2006
12   KCR     1372638    $47694000  2006
13   LAA     3406790   $103472000  2006
14   LAD     3758545    $98447187  2006
15   MIL     2335643    $57970333  2006
16   MIN     2285018    $63396006  2006
17   NYM     3379535   $101584963  2006
18   NYY     4248067   $194663079  2006
19   OAK     1976625    $64843079  2006
20   PHI     2701815    $88273333  2006
21   PIT     1861549    $46717750  2006
22   SDP     2659757    $69896141  2006
23   SEA     2481165    $87959833  2006
24   SFG     3130313    $90056419  2006
25   STL     3407104    $88891371  2006
26   TBD     1368950    $34917967  2006
27   TEX     2388757    $68228662  2006
28   TOR     2302212    $71365000  2006
29   WSN     2153056    $63143000  2006
..   ...         ...          ...   ...
300  ARI     2036216    $78399500  2016
301  ATL     2020914    $74999750  2016
302  BAL     2172344   $153744833  2016
303  BOS     2955434   $218682750  2016
304  CHC     3232420   $176097333  2016
305  CHW     1746293   $113416000  2016
306  CIN     1894085    $77329561  2016
307  CLE     1591667    $94511067  2016
308  COL     2602524    $89707000  2016
309  DET     2493859   $199902000  2016
310  HOU     2306623    $89498000  2016
311  KCR     2557712   $125132675  2016
312  LAA     3016142   $139712000  2016
313  LAD     3703312   $231342096  2016
314  MIA     1712417    $72472000  2016
315  MIL     2314614    $52077500  2016
316  MIN     1963912    $93333700  2016
317  NYM     2789602   $155221282  2016
318  NYY     3063405   $193229350  2016
319  OAK     1521506    $54969067  2016
320  PHI     1915144    $84846666  2016
321  PIT     2249201    $81187933  2016
322  SDP     2351422    $50656166  2016
323  SEA     2267928   $137169100  2016
324  SFG     3365256   $177021333  2016
325  STL     3444490   $150353500  2016
326  TBR     1286163    $48223791  2016
327  TEX     2710402   $212117760  2016
328  TOR     3392099   $182690767  2016
329  WSN     2481938   $152967400  2016

[330 rows x 4 columns]

In [16]:
data.to_csv('./Data Files/Clean Attendance Payroll and Year')